.home {
  min-height: calc(100vh - 8rem);
  background: linear-gradient(rgb(209, 69, 69), rgb(120, 120, 175));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 70px;
  background-color: white;
  color: black;
  padding: 5px;
  font-size: larger;
  border: 3px solid blue;
  margin: 3px;
}
